*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #171f38;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.background {
  position: absolute;
  width: 515px;
  height: 515px;
  left: 73%;
  top: 61%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  color: #fff;
}

input,
button,
textarea {
  font-family: 'Mulish';
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #242e4c;
  width: 144rem;
  height: 80rem;
  margin: 14.4rem 8rem;
  padding: 8rem;
  border-radius: 1.5rem;
}

.container-header {
  margin-bottom: 5.1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.6rem;
  font-weight: 600;
}

.container-logo {
  font-size: 1.7rem;
  margin-bottom: 5.1rem;
}

.input__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95rem;
  margin-bottom: 4rem;
}

.input__container-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 5.1rem;
}

.input__group--label {
  display: block;
  color: #97a5ce;
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 6px;
}

.input__group--input {
  border: 1px solid #171f38;
  border-radius: 3px;
  background-color: #242e4c;
  color: #fff;
  width: 38rem;
  padding: 1.8rem 5.2rem 1.8rem 1.5rem;
  margin-bottom: 1.6rem;
}

.input__group--input::-webkit-input-placeholder {
  color: #97a5ce;
  opacity: 0.5;
}

.input__group--input:-ms-input-placeholder {
  color: #97a5ce;
  opacity: 0.5;
}

.input__group--input::-ms-input-placeholder {
  color: #97a5ce;
  opacity: 0.5;
}

.input__group--input::placeholder {
  color: #97a5ce;
  opacity: 0.5;
}

.input__group--input:focus {
  outline: none;
  border-color: #f775c1;
}

.input__group--btn {
  border: 1px solid #171f38;
  border-radius: 3px;
  background-color: #242e4c;
  color: #97a5ce;
  margin-bottom: 1.6rem;
  padding: 1rem 4rem;
}

.input__group--small {
  font-family: 'Mulish';
  font-size: 1.6rem;
  font-weight: 400;
  color: #97a5ce;
}

.input__group--area {
  height: 20rem;
  resize: none;
}

.input__group--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 38rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn {
  background: -webkit-gradient(linear, left top, right top, from(#f073c8), color-stop(99.21%, #ff6a95));
  background: linear-gradient(90deg, #f073c8 0%, #ff6a95 99.21%);
  -webkit-box-shadow: 0px 10px 12px -11px #131c38;
          box-shadow: 0px 10px 12px -11px #131c38;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-family: 'Mulish';
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  padding: 1.8rem 16.2rem 1.8rem 16.2rem;
  outline: none;
}
/*# sourceMappingURL=main.css.map */