*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	background-color: #171f38;
	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
}

.background {
	position: absolute;
	width: 515px;
	height: 515px;
	left: 73%;
	top: 61%;
}

html {
	font-size: 62.5%;
}
